Books.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.iesvi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.iesvi.org/" name="BookImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.iesvi.org/" schemaLocation="http://localhost:1516/WS/Books?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="deleteBookByPosition">
<part name="parameters" element="tns:deleteBookByPosition"></part>
</message>
<message name="deleteBookByPositionResponse">
<part name="parameters" element="tns:deleteBookByPositionResponse"></part>
</message>
<message name="getBookList">
<part name="parameters" element="tns:getBookList"></part>
</message>
<message name="getBookListResponse">
<part name="parameters" element="tns:getBookListResponse"></part>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"></part>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"></part>
</message>
<message name="deleteBookById">
<part name="parameters" element="tns:deleteBookById"></part>
</message>
<message name="deleteBookByIdResponse">
<part name="parameters" element="tns:deleteBookByIdResponse"></part>
</message>
<portType name="Book">
<operation name="deleteBookByPosition">
<input wsam:Action="http://ws.iesvi.org/Book/deleteBookByPositionRequest" message="tns:deleteBookByPosition"></input>
<output wsam:Action="http://ws.iesvi.org/Book/deleteBookByPositionResponse" message="tns:deleteBookByPositionResponse"></output>
</operation>
<operation name="getBookList">
<input wsam:Action="http://ws.iesvi.org/Book/getBookListRequest" message="tns:getBookList"></input>
<output wsam:Action="http://ws.iesvi.org/Book/getBookListResponse" message="tns:getBookListResponse"></output>
</operation>
<operation name="addBook">
<input wsam:Action="http://ws.iesvi.org/Book/addBookRequest" message="tns:addBook"></input>
<output wsam:Action="http://ws.iesvi.org/Book/addBookResponse" message="tns:addBookResponse"></output>
</operation>
<operation name="deleteBookById">
<input wsam:Action="http://ws.iesvi.org/Book/deleteBookByIdRequest" message="tns:deleteBookById"></input>
<output wsam:Action="http://ws.iesvi.org/Book/deleteBookByIdResponse" message="tns:deleteBookByIdResponse"></output>
</operation>
</portType>
<binding name="BookImplPortBinding" type="tns:Book">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="deleteBookByPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBookList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteBookById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BookImplService">
<port name="BookImplPort" binding="tns:BookImplPortBinding">
<soap:address location="http://localhost:1516/WS/Books"></soap:address>
</port>
</service>
</definitions>